<table id="filmes">
<tr>
	<th>Rank</th>
	<th>Name</th>
	<th>Grossing</th>
	<th>Year</th></tr>
<% @nome.each_with_index do |element,index| %> 
    <tr>
    <td><%=index+1%>
    <td><%=@nome[index]%></td>
    <td><%=@bilheteria[index]%></td>
    <td><%=@ano[index]%></td>
    </tr>
    <%end%>
    </table>


<% content_for :sidebar do %>
 <p>http://omdbapi.com/?t=Avatar</p>
<% end %>