<table id="filmes">
<tr>
	<th>Rank</th>
	<th>Name</th>
	<th>Grossing</th>
	<th>Year</th></tr>
<% @nome.each_with_index do |element,index| %> 
    <tr>
    <td><%=index+1%>
    <td><%=@nome[index]%></td>
    <td><%=@bilheteria[index]%></td>
    <td><%=@ano[index]%></td>
    </tr>
    <%end%>
    </table>


<% content_for :sidebar do %>
 <img src="http://ia.media-imdb.com/images/M/MV5BMjIxNTU4MzY4MF5BMl5BanBnXkFtZTgwMzM4ODI3MjE@._V1._SX600_SY600_.jpg">
<% end %>